{% extends './layouts/base.html' %}

{% block title %}GO Services{% endblock %}

{% block content %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center">
            <h1>Bienvenido a GO Services.</h1>
            <h3>Sabemos de impresoras.</h3>
            <p>Aquí puedes encontrar información sobre impresoras.</p>
            {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'odts' %}">Ver ordenes de trabajo</a>
            {% endif %}
    </div>
</div>
{% endblock %}