<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <title>ODT GOS</title>
</head>
<body>
    <nav>
        <ul>
            <a href="login">Iniciar sesión</a>
            <a href="signup">Registrarse</a>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Bienvenido a ODT GOS</h2>
                <p>Esta es una aplicación para gestionar órdenes de trabajo.</p>
            </div>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>