{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <ul class="d-flex justify-content-between align-items-center w-100 m-4">
            <a href="{% url 'index' %}" class="text-center">
                <img class="img-fluid w-50" src="{% static 'images/GOSLogo.png' %}" alt="logo" class="d-inline-block align-top">
            </a>
            <div class="d-flex gap-5">
                <a href="login" class="btn btn-warning">Iniciar sesión</a>
                <a href="signup" class="btn btn-secondary">Registrarse</a>
            </div>
            
        </ul>
    </nav>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer class="bg-primary text-light mt-5 footer">
        <div class="text-center p-4">
            © 2023 GOS ODT. Todos los derechos reservados.
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>